<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    type="text/javascript"
></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    type="text/javascript"
></script>
<script src="/js/console.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(window).load(function () {
        var cons = [ new Console(jQuery("#con1")) ];
        for (var i in cons) {
            cons[i].run();
        }
        
        jQuery(document).keydown(function (ev) {
            for (var i in cons) {
                var con = cons[i];
                if (con.active) {
                    con.send_key_down(ev.keyCode);
                }
            }
            return false;
        });
        
        jQuery(document).keyup(function (ev) {
            for (var i in cons) {
                var con = cons[i];
                if (con.active) {
                    con.send_key_up(ev.keyCode);
                }
            }
            return false;
        });
    });
</script>

<div class="window" id="con1"></div>
