<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <title>StackVM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="StyleSheet" href="/css/style.css" type="text/css">
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script src="/js/console.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="content">
      <div class="window" id="con1"></div>
      <div class="window" id="con2"></div>
    </div>
  </body>
</html>
