<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>StackVM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/vendor/jquery.js"></script>
</head>
<body>

<div>
<img src="/img/stackvm.png" width="417" height="100">
</div>

<div>
<% if (session.name) { %>
    signed in as <%= session.name %>
    <form action='/logout' method='post'>
        <input type='submit' value='logout'>
    </form>
<% } else { %>
    <form action='/' method='post'>
        <input type='text' name='user'>
        <input type='password' name='pass'>
        <input type='submit' value='sign in'>
    </form>
<% } %>
</div>

<%- body %>

</body>
</html>
