<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>stackVM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<% stylesheets.forEach(function (href) { %>
    <link rel="StyleSheet" href="<%= href %>" type="text/css">
<% }) %>
<script src="/js/dnode.js" type="text/javascript"></script>
<% scripts.forEach(function (src) { %>
    <script src="<%= src %>" type="text/javascript"></script>
<% }) %>

<script type="text/javascript">
    $(window).load(function () {
        $('form#login')[0].elements['user'].focus();
        
        $('form#login').submit(function (ev) {
            ev.preventDefault();
        });
        
        var form = $('form#login');
        form.submit(function (ev) {
            ev.preventDefault();
            
            var user = this.elements.user.value;
            var pass = this.elements.pass.value;
            Session({ user : user, pass : pass }, function (ui) {
                if (ui) {
                    $('form#login').fadeOut(400);
                    ui.element
                        .hide()
                        .fadeIn(400)
                        .appendTo('#backdrop')
                    ;
                }
                else {
                    $('.sign-in-failed').remove();
                    form.append($('<div>')
                        .addClass('sign-in-failed')
                        .text('sign-in failed')
                        .fadeIn(400, function () {
                            var elem = $(this);
                            setTimeout(function () {
                                elem.fadeOut(2000);
                            }, 5000);
                        })
                    );
                }
            });
        });
    });
</script>
</head>
<body>
    <div id="backdrop">
        <form id="login" method="post">
            <img
                src="/img/stackvm.png"
                width="417" height="100"
            >
            <input type="text" name="user">
            <br>
            <input type="password" name="pass">
            <br>
            <input type="submit" value="sign in">
            <br>
        </form>
    </div>
</body>
</html>
