img#logo {
    cursor: pointer;
}

div.sidebar {
    position: fixed;
    width: 200px;
    top: 5px;
    bottom: 100px;
    left: 10px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

div.sidebar-menu {
    background-color: rgb(100,100,100);
    position: fixed;
    width: 200px;
    top: 55px;
    bottom: 100px;
    left: 0px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

div.side-menu { }

div.side-menu-body {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.side-menu-title {
    background-color: rgb(60,60,60);
    font-weight: bold;
    padding: 8px;
    border-bottom-color: rgb(20,20,20);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    cursor: pointer;
}

div.side-menu-title:hover {
    background-color: rgb(140,140,140);
}

div.sidebar a {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

div.sidebar div.back {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(100,100,100);
    color: white;
    height: 3em;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    width: 200px;
}

div.sidebar div.back:hover {
    background-color: rgb(200,200,200);
    color: rgb(50,50,50);
}

.contact { font-weight: bold; }

.contact-online {
    cursor: pointer;
    font-weight: bold;
    color: rgb(200,255,150);
}

.contact-offline {
    color: rgb(200,200,200);
}

.disk {
    font-weight: bold;
    margin-bottom: 1em;
}

.disk-filename {
    font-weight: normal;
    font-size: 0.85em;
    color: rgb(200,200,200);
}

.disk-spawn {
    font-size: 0.85em;
    color: rgb(250,220,130);
    font-weight: normal;
}

.disk-spawn span a {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255,150,100);
    cursor: pointer;
}

.disk-spawn span a:hover {
    text-decoration: underline;
}

ol.instances li {
    cursor: pointer;
}

