#content {
    border-color: rgb(150,150,150);
    border-style: solid;
    border-width: 2px;
}

#window {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#active-window {
    border-color: red;
}

#console {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}
