div.window {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

div.title {
    background-color: rgb(50,50,50);
    color: white;
    font-weight: bold;
}

div.active-title {
    background-color: rgb(130,50,50);
}

div.console {
    margin-top: 1px;
    margin-left: 1px;
}

