.window {
  border: 2px solid black;
  padding: 2px;
  background-color: white;
}

.window .title {
  background-color: rgb(50,50,50);
  color: white;
  font-weight: bold;
  height: 20px;
  padding-left: 2px;
  margin-bottom: 2px;
  overflow: hidden;
}

.window .title .text {
  float: left
}

.window .title .buttons {
  float: right;
  padding-top: 1px;
  margin-right: 1px;
}

.window .title .buttons img {
  border: 1px solid #CCC;
}

.window .title .buttons img:hover {
  border: 1px solid #AAA;
}

.window .title .buttons .pin {
  height: 16px;
  width: 16px;
  margin-right: 2px;
}

.window .title .buttons .refresh {
  height: 16px;
  width: 16px;
  margin-right: 2px;
}

.window .title .buttons .close {
  height: 16px;
  width: 16px;
}

.window .activeTitle {
  background-color: rgb(130,50,50);
}

.window .console {
  position: absolute;
  width: 100%;
}

.window .console .centerMessage {
  margin-top: 80px;
  text-align: center;
}

.clear {
  clear: both;
}

