div.vm-window {
    background-color: rgb(100,100,100);
    padding: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(150,150,150);
    z-index: 100;
}

div.vm-window-focused { }

div.vm-window-focused div.title-bar {
    margin-bottom: 2px;
}

div.vm-window-fullscreen {
    z-index: 101;
}

div.vm-window-fullscreen div.title-bar {
    display: none;
}

div.title-bar {
    position: float;
    margin-top: -32px;
    margin-left: -3px;
    margin-bottom: 0px;
    height: 30px;
    background-color: white;
    color: black;
    padding-left: 0.5em;
}

div.title-bar div {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}

div.title-bar img.window-button {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

div.title-bar img.menu-button {
    float: left;
}

div.window-menu {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
}

div.window-menu div.menu-item {
    display: block;
    height: 1em;
    width: 10em;
    font-weight: bold;
    padding: 4px;
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

div.window-menu div.menu-item:hover {
    background-color: rgb(150,30,30);
    color: white;
    border-color: white;
    cursor: pointer;
}
