div#workspace {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right : 0px;
    overflow: hidden;
}

div#quick-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 20;
}

div#quick-bar div {
    float: left;
    width: 120px;
    height: 95px;
    color: white;
    text-align: center;
}

div#sheet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
    z-index: 75;
}

