div#workspace {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right : 0px;
    overflow: hidden;
}

div#quick-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 20;
}

div#quick-bar div {
    float: left;
    width: 120px;
    height: 95px;
    color: white;
    text-align: center;
}

